.box {
  padding: 1em;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: white;
}

.box * {
  color: inherit;
}

.box.invert {
  color: white;
  background-color: var(--black);
}
  