header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
  text-decoration: none;
}

nav {
  font-size: 1.3em;
}

nav a {
  padding-inline-start: .4em;
}